.experiencia {
  background: #fafafa;
}

.experiencia-container {
  max-width: 1200px;
  padding: 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitle {
  color: #e0e0e0;
}

.experiencia-text {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #3d3d3d;
}

.experiencia-text strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -110px;
  color: #3d3d3d;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #d921ab 0%, #3e3e99 100%);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-title {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-cargo {
  font-size: 0.875rem;
  line-height: 1.1;
  font-weight: bold;
  color: #525252;
}

.empresa-text {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #3d3d3d;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  background: #cfceff;
  color: #3d3d3d;
  padding: 5px 10px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .experiencia-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitle {
    color: #141414;
  }

  .experiencia-text {
    font-size: 1.125rem;
  }

  .empresa-ano {
    font-weight: bold;
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
